bme680==2.0.0
bmm150==0.2.2
click==8.3.0
enum-tools==0.9.0.post1
numpy==2.2.6
opencv-python==4.12.0.88
pigpio==1.78
pur==7.3.3
Pygments==2.19.2
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
Seeed-grove.py==0.8
seeed-python-mlx9064x==1.1.4
sgp30==0.1.6
smbus2==0.4.3
typing_extensions==4.15.0
